:root {
	--clr-800: hsl(212, 21%, 14%);
	--clr-700: hsl(158, 36%, 37%);
	--clr-600: hsl(228, 12%, 48%);
	--clr-500: hsl(30, 38%, 92%);
	--clr-400: hsl(0, 0%, 100%);
	--bg-clr: var(--clr-500);
	--act-clr: rgb(25, 64, 49);
	--fn-stn: "Fraunces", serif;
	--fn-rgl: "Montserrat", sans-serif;
	--fn-rgl-b: 700;
	--fn-rgl-n: 500;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html,
body {
	text-rendering: optimizeSpeed;
	background-color: var(--bg-clr);
}

picture,
img {
	max-width: 100%;
	min-height: 100%;
	object-fit: cover;
	border-radius: 14px 0 0 14px;
}

main {
	min-height: calc(100vh - 3rem);
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 5rem;
	max-width: 50rem;
	max-height: 40rem;
	border-radius: 16px;
	box-shadow: 0.2rem 0.2rem 2.5rem hsl(180, 2%, 71%);
}

.content {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2.5rem;
	background-color: var(--clr-400);
	border-radius: 0 14px 14px 0;
}

.preview {
	font-family: var(--fn-rgl);
	font-size: 1.2rem;
	font-weight: var(--fn-rgl-n);
	color: var(--clr-600);
	letter-spacing: 0.5rem;
}

h1 {
	font-family: var(--fn-stn);
	font-size: 3rem;
	line-height: 1;
	color: var(--clr-800);
}

.ctx {
	font-family: var(--fn-rgl);
	font-size: 1.2rem;
	font-weight: var(--fn-rgl-n);
	color: var(--clr-600);
	line-height: 1.8;
}

.price {
	display: flex;
	gap: 1rem;
}

.price > :nth-child(1) {
	font-family: var(--fn-stn);
	color: var(--clr-700);
	font-size: 3rem;
}

.price > :nth-child(2) {
	font-family: var(--fn-rgl);
	font-size: 1rem;
	text-decoration: line-through;
	color: var(--clr-600);
}

.cta {
	font-family: var(--fn-rgl);
	font-weight: var(--fn-rgl-b);
	font-size: 1rem;
	background-color: var(--clr-700);
	color: var(--clr-400);
	border: none;
	padding: 1.5rem 4rem;
	border-radius: 10px;
}

.cta:hover,
.cta:active {
	cursor: pointer;
	background-color: var(--act-clr);
}

footer {
	font-family: var(--fn-rgl);
	font-weight: var(--fn-rgl-b);
	font-size: 0.8rem;
	padding: 1rem 0;
}

@media (max-width: 500px) {
	.card {
		grid-template-columns: 1fr;
		margin: 1rem;
		min-height: 90vh;
	}

	picture,
	img {
		border-radius: 14px 14px 0 0;
	}

	h1,
	.price > :nth-child(1) {
		font-size: 2.5rem;
	}

	.preview,
	.ctx,
	.cta {
		font-size: 1rem;
	}
	.ctx {
		max-width: 32.5ch;
	}
	.content {
		padding: 2rem;
		gap: 1rem;
		border-radius: 0 0 14px 14px;
	}

	footer {
		font-size: 0.7rem;
		color: var(--clr-800);
	}
}

@media (max-width: 400px) {
	.card {
		height: calc(100vh - 1rem);
	}

	h1,
	.price > :nth-child(1) {
		font-size: 2.5rem;
	}

	.content {
		padding: 1.5rem;
		gap: 1rem;
	}

	.preview,
	.ctx,
	.cta {
		font-size: 1rem;
	}
	.cta {
		padding: 1rem 2rem;
	}
}
